#board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    cursor: pointer;
    position: relative;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(78, 111, 121);

}

.tile{
   color: rgb(86, 209, 15);
   font-size: 2em;
   display: flex;
   justify-content: center;
   align-items: center;

}
.rightBorder{
    border-right: 0.2em solid black;
}
.bottomBorder{
    border-bottom: 0.2em solid black;
}
.strike {
    background-color: firebrick;
    position: absolute;
}

.strike-row-1{
    width: 100%;
    height: 4px;
    top: 15%; 
}

.strike-row-2{
    width: 100%;
    height: 4px;
    top: 48%;
}

.strike-row-3{
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1{
   height: 100%;
    width: 4px;
    left: 15%;
}

.strike-column-2{
    height: 100%;
    width: 4px;
    right: 15%;
}

.strike-column-3{
    height: 100%;
    width: 4px;
    left: 83%;
}

.strike-diagonal-1{
    width: 90%;
    height: 4px;
    top:50%;
    left:5%;
    transform :skewY(45deg)
}
.strike-diagonal-2{
    width: 90%;
    height: 4px;
    top:50%;
    left:5%;
    transform :skewY(-45deg)
}

h1 {
    color: rgb(160, 5, 13);
}

.box{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    font-size:50px;
    cursor: pointer;
}

.Boxs{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    text-align: center;
}
.gameBoard{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.statusDisplay{
    text-align: center;

}


#game-over-area{
   text-align: center;
   border:red;
   width:50%;
   margin-top: 50px;
   padding: 50px; 
   border: 2px solid black;
   background-image: url('https://i.pinimg.com/736x/59/ef/80/59ef80177275548b932d7cc81652d0a5.jpg');

}

.winnerBox{
   
    background-color: lightgoldenrodyellow;
}


h2{
    color: goldenrod;
    columns: black;
    font-size: 3em;
    margin-top: 0px;
}

button{
    background-color: goldenrod;
    color: rgb(38, 55, 112);
    border:3px solid rgb(172, 130, 130);
    font-size: 1.5em;
    padding: 10px;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.x-hover:hover::after{
    content: "X";
    opacity: 0.4;
}
.o-hover:hover::after{
    content: "O";
    opacity: 0.4;
}